{% extends 'index.html' %}

{% block pageContent %}
<div class="py-3 green-background d-flex flex-column" id="about_content">
    <img class="img-fluid m-auto border border-white border-3 rounded"
         src="{{ url_for('static', filename='images/tagline-for-travel-agency.9f6d6ce0.jpg') }}"/>
    <p class="m-3 text-center text-white content_paragraph_size"><cite><strong>Nothing soothes the soul like travel ... As on
        of
        Singapore's largest and oldest tour operators, we
        understand your needs when it comes to mainstream destinations and exotic adventures. </strong></cite></p>
</div>

{% endblock %}